absl-py==0.9.0
addict==2.4.0
aiohttp==3.8.3
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==19.3.0
backcall==0.1.0
beartype==0.11.0
black==22.10.0
bleach==3.1.4
cachetools==4.0.0
carla==0.9.10
certifi==2022.9.24
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
configparser==4.0.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
dictor==0.1.5
diskcache==5.3.0
distlib==0.3.6
docker-pycreds==0.4.0
einops==0.6.0
elementpath==1.3.3
entrypoints==0.3
ephem==3.7.7.1
exceptiongroup==1.0.4
filelock==3.8.0
filterpy==1.4.5
fire==0.4.0
flake8==5.0.4
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
future==0.18.2
gitdb==4.0.2
gitpython==3.1.0
google-auth-oauthlib==0.4.1
google-auth==1.11.3
gql==0.2.0
graphql-core==1.1
greenlet==2.0.1
grpcio==1.50.0
huggingface-hub==0.10.1
hydra-core==1.2.0
idna==2.9
imageio-ffmpeg==0.4.7
imageio==2.8.0
imgaug==0.4.0
importlib-metadata==4.2.0
importlib-resources==5.10.0
iniconfig==1.1.1
ipdb==0.13.9
ipykernel==5.2.0
ipython-genutils==0.2.0
ipython==7.34.0
ipywidgets==7.5.1
jedi==0.16.0
jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==7.4.7
jupyter-console==6.4.4
jupyter-core==4.11.2
jupyter==1.0.0
kiwisolver==1.1.0
llvmlite==0.36.0
lyft-dataset-sdk==0.0.8
markdown==3.2.1
markupsafe==2.1.1
matplotlib-inline==0.1.6
matplotlib==3.5.3
mccabe==0.7.0
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mmcls==0.24.1
mmcv-full==1.6.2
mmdet3d==1.0.0rc5
mmdet==2.25.3
mmsegmentation==0.29.1
model-index==0.1.11
moviepy==1.0.3
msgpack==1.0.4
multidict==6.0.2
multiscaledeformableattention==1.0
munkres==1.1.4
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
nest-asyncio==1.5.6
networkx==2.2
notebook==6.0.3
numba==0.53.0
numpy==1.21.5
nuscenes-devkit==1.1.9
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
omegaconf==2.2.3
open3d==0.9.0.0
opencv-python==4.2.0.32
openmim==0.3.3
ordered-set==4.1.0
packaging==21.3
pandas==0.25.3
pandocfilters==1.4.2
parso==0.6.2
pathspec==0.10.2
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.0.0
pip==21.2.2
platformdirs==2.5.4
plotly==5.11.0
pluggy==1.0.0
plyfile==0.7.4
prettytable==3.5.0
proglog==0.1.10
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.20.3
psutil==5.7.0
ptyprocess==0.6.0
py-trees==0.8.3
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycocotools==2.0.6
pycodestyle==2.9.1
pydeprecate==0.3.1
pydot==1.4.1
pyflakes==2.5.0
pygame==2.0.1
pygments==2.6.1
pynvim==0.4.3
pyparsing==2.4.6
pyquaternion==0.9.9
pyrsistent==0.16.0
pytest==7.2.0
python-dateutil==2.8.2
pytictoc==1.5.2
pytorch-lightning==1.5.10
pytz==2019.3
pywavelets==1.1.1
pyyaml==5.3
pyzmq==24.0.1
qtconsole==5.4.0
qtpy==2.3.0
ray==2.1.0
rdp==0.8
regex==2022.10.31
requests-oauthlib==1.3.0
requests==2.23.0
rich==12.6.0
rsa==4.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
send2trash==1.5.0
sentry-sdk==0.14.2
setuptools==59.5.0
shapely==1.7.0
shortuuid==1.0.1
six==1.16.0
smmap==3.0.1
subprocess32==3.5.4
tabulate==0.8.7
tenacity==8.1.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.11.0
termcolor==2.1.0
terminado==0.8.3
terminaltables==3.1.10
testpath==0.4.4
timm==0.5.4
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
torch-scatter==2.0.8
torch==1.11.0
torchaudio==0.11.0
torchmetrics==0.10.2
torchvision==0.12.0
tornado==6.2
tqdm==4.43.0
traitlets==4.3.3
transformers==4.24.0
trimesh==2.35.39
typed-ast==1.5.4
typing-extensions==4.4.0
ujson==5.3.0
urllib3==1.25.8
virtualenv==20.16.7
wandb==0.8.29
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==1.4.2
werkzeug==2.2.2
wheel==0.37.1
widgetsnbextension==3.5.1
xmlschema==1.0.18
yapf==0.32.0
yarl==1.8.1
zipp==3.1.0